.contacts {
    padding: 5px;
    background-color: rgb(182, 145, 145);
    grid-area: c;
    border-radius: 5px;
}

#parent {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.contact {
    margin-bottom: 10px;
}