.app-wrapper {
  margin: 0 auto;
  max-width:1000px;
  display: grid;
  grid-template-areas: 
  "h h"
  "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  text-decoration: none;
  
}

.header {
  grid-area: h;
  padding: 10px;
  
}

.navbar {
  padding: 10px;
  grid-area: n;
  background-color: rgb(214, 202, 26);
}

.profile {
  padding: 10px;
  grid-area: p;
  background-color: rgb(67, 94, 216);
}

